!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}

    %title
      - if @article.present? && @article.title.present?
        = @article.title
      - else
        = global_setting.site_name

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = analytics_init if GoogleAnalytics.valid_tracker?
    = csrf_meta_tags
  %body
